@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: url('/files/layout/fonts/Gudea-Regular.ttf');
}
@font-face {
  font-family: 'Gudea';
  font-style: italic;
  font-weight: 400;
  src: url('/files/layout/fonts/Gudea-Italic.ttf');
}
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 600;
  src: url('/files/layout/fonts/Gudea-Bold.ttf');
}