//// Farben

body{
  --font-color: #343434;
  --color1: #A1C740;
  --color2: #176DB6;
  --color3: #80bbef;
  --color4: #A4D9F7;
  --color5: #41c1f0;
  --color6: #FDFFEB;
  --color7: #C4D400;
  --black: #000;
  --black-50: rgba(0,0,0,0.5);
  --black-with-BG: #000;
  --white: #FFF;
  --white-50: rgba(255,255,255,0.5);
  --white-low-contrast: #FFF;
  --grey: #F5F5F5;
  --border: transparent;

  #logo-quartier{
    figure{
        background-image: url("/files/layout/images/Quartier_2030_Logo_farbig.svg");
    }
  }

  #logo-kvjs{
    figure{
      background-image: url("/files/layout/images/KVJS-Logo-Text.svg");
      @media all and (max-width: $break3){
        background-image: url("/files/layout/images/KVJS-Logo-kompakt.svg");
      }
    }
  }

  &.white{
    --font-color: #000;
    --color1: #000;
    --color2: #000;
    --color3: #000;
    --color4: #000;
    --color5: #000;
    --color6: #FFF;
    --color7: #000;
    --black: #000;
    --black-50: rgba(0,0,0,0.5);
    --black-with-BG: #FFF;
    --white: #FFF;
    --white-50: rgba(255,255,255,0.5);
    --white-low-contrast: #000;
    --grey: #F5F5F5;
    --border: #000;

    #logo-quartier{
      figure{
          background-image: url("/files/layout/images/Quartier_2030_logo_grau.svg");
      }
    }

    img, video, label, footer{
      filter: grayscale(1);
    }
    #footer, #header{
      .info-kvjs, .beschreibung-container, #logo-kvjs{
        figure{
          filter: grayscale(1) contrast(1000%);
        }
      }
    }

  }
  &.black{
    --font-color: #FFF;
    --color1: #FFF;
    --color2: #FFF;
    --color3: #FFF;
    --color4: #FFF;
    --color5: #FFF;
    --color6: #000;
    --color7: #FFF;
    --black: #FFF;
    --black-50: rgba(255,255,255,0.5);
    --black-with-BG: #000;
    --white: #000;
    --white-50: rgba(0,0,0,0.5);
    --white-low-contrast: #FFF;
    --grey: #4e4e4e;
    --border: #FFF;

    #logo-quartier{
      figure{
          background-image: url("/files/layout/images/Quartier_2030_Logo_SW.svg");
      }
    }

    img, video, label, footer{
      filter: grayscale(1);
    }
    #footer, #header{
      .info-kvjs, .beschreibung-container, #logo-kvjs{
        figure{
          filter: grayscale(1) contrast(1000%) invert(1);
        }
      }
    }
  }
}