.ce_download, .ce_downloads {
  li{
    margin-bottom: 0.75em;
    a{
      .meta{
        font-size: 0.8rem;
        *{
          color: $black-50;
        }
        .size{
          &:after{
            content: "|";
            margin: 0 1em;
          }
        }
      }
    }
  }
}