/// allgemeines Formular ///

@mixin formular {
  form {
    .formbody {
      > fieldset {
        margin-bottom: 0.25rem;
        margin-top: 1em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid $color4;

        > legend {
          font-size: $h3Size;
          font-weight: 600;
          margin-bottom: 1em;
          background-color: $white;
          border: 1px solid $color4;
          padding: 1rem;
          color: $fontColor;
        }

        &:last-of-type {
          border-bottom: none;
        }
      }

      .widget {
        padding: 0.25rem 0 1rem;
        align-items: flex-start;

        ////////// TEXTFELDER ////////////////////


        &-text, &-textarea, &-select, &-captcha {
          display: grid;
          grid-template-columns: 40% 55%;
          grid-column-gap: 5%;

          label {
            text-align: left;
            grid-column: 1/3;
          }

          input, textarea, select {
            @include transition();
            max-width: 100%;
            outline: none;
            padding: 0.25em 0.5em;
            background-color: $white;
            grid-column: 1/3;
            border: 1px solid $color4;

            &:hover, &focus {
              border-color: $black-50;
            }

            &:focus {
              box-shadow: inset 0 0 1px 1px $black-50;
            }
          }
        }

        &-textarea, &-select {
          &.motivation {
            label {
              margin-bottom: 1rem;
            }

            label, textarea {
              text-align: left;
              grid-column: 1/3;
            }
          }
        }

        &-captcha {
          span {
            grid-column: 2/3;
          }
        }

        ////////// RADIO & CHECKBOX ////////////////////
        &-checkbox, &-radio {
          > fieldset {
            > div {
              display: grid;
              grid-template-columns: 40% 55%;
              grid-column-gap: 5%;

              legend {
                text-align: left;
                grid-column: 1/3;
              }

              > div {
                grid-column: 1/3;

                span {
                  width: 49.3%;
                  margin-right: 1.383%;
                  margin-bottom: 1rem;

                  input {
                    display: none;
                  }

                  label {
                    display: grid;
                    grid-template-columns: 1.25rem 1fr;
                    grid-gap: 0.5em;

                    &:before {
                      @include transition();
                      content: "";
                      background-color: $white;
                      border: 1px solid $color4;
                      height: 1.1rem;
                    }

                    &:hover {
                      &:before {
                        border-color: $black-50;
                      }
                    }
                  }

                  &:nth-of-type(2n) {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }

        &-checkbox {
          input:checked + label {
            &:before {
              content: url("/files/layout/images/checkbox-haken.svg");
            }
          }

          label {
            &:before {
              border-radius: 20%;
            }
          }

          &.bereiche {
            fieldset {
              > div {
                legend {
                  grid-column: 2/3;
                  text-align: left;
                  font-weight: 600;
                  margin-bottom: 1rem;
                }
              }

            }
          }
        }

        &-radio {
          input:checked + label {
            &:before {
              content: url("/files/layout/images/radio-button.svg");
            }
          }

          label {
            &:before {
              border-radius: 50%;
            }
          }

          &.geschlecht {
            > fieldset {
              > div {
                > div {
                  span {
                    width: 32.41%;
                    margin-right: 1.383%;
                    margin-bottom: 1rem;

                    &:nth-of-type(3n) {
                      margin-right: 0;
                    }
                  }
                }
              }

            }
          }
        }
      }

      .widget-submit {
        button {
          @include button;
          width: 33%;
        }
      }
    }

    @media all and (min-width: $break2) {
      .formbody {
        .widget {

          &-text, &-select, &-textarea, &-captcha {
            label {
              text-align: right;
              grid-column: 1/2;
            }

            input, select, textarea {
              grid-column: 2/3;
            }
          }

          &-radio, &-checkbox {
            > fieldset {
              > div {
                > legend {
                  text-align: right;
                  grid-column: 1/2;
                }

                > div {
                  grid-column: 2/3;
                  display: flex;
                  flex-wrap: wrap;
                }
              }
            }
          }
        }
      }
    }
  }
}

.ce_form {
  h1 {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid $color1;
  }
  @include formular;


  &.kurse {
    .head {
      font-size: $linkSize;
    }

    .schritte-container {
      .schritt-container {
        .schritt {
          border: 1px solid $color4;
          background-color: $white;
          font-weight: 600;
          text-align: center;

          p {
            margin: 0;
            padding: 1rem;
          }

          &.active {
            color: $black-bg;
            border-color: $white;
            background-color: $color4;
          }
        }

        > p {
          font-size: $linkSize;
        }
      }
    }

    @media all and (min-width: $break2) {
      .schritte-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        .schritt-container {
          grid-column: span 1;
        }
      }
    }
  }
}
