.ce_leaflet{
  .leaflet-tile-pane{
    filter: brightness(0.5);
  }
  .leaflet-overlay-pane{
    mix-blend-mode: overlay;
    path{
      stroke: transparent;
      fill: white;
      fill-opacity: 1;
    }
  }
}