.suchfeld{
  .formbody {
    display: flex;
    margin-right: 1rem;

    .widget {
      &-submit {
        height: 2em;
        width: 1.5em;
        padding-top: 5px;
        button{
          width: 100%;
          border: none;
          background: none;
          padding: 0;
          cursor: pointer;
          svg{
            fill: $black;
          }
        }
      }

      &-text {
        label{
          display: none;
        }
        input {
          height: 2em;
          width: 200px;
          border: none;
          background: none;
          padding-left: 1rem;
        }
      }
    }
  }
}

.mod_search {
  > .searchWrapper {
    form{

      .formbody {
        display: flex;
        background-color: $white;
        border-radius: 2px;
        width: 200px;
        border: 1px solid $color1;

        .widget-submit {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 5px;
          padding-left: 5px;
        }

        .widget-text {
          width: 100%;

          input {
            width: 100%;
            border: none;
            padding-left: 0.5em;
          }
        }
      }
    }

    .header {
      font-size: 0.75rem;
      font-style: italic;
      margin-top: 0.5em;
    }
  }

  > div {
    &.searchWrapper {
      margin: 1rem 0;
      padding: 1rem 0;
    }

    &:not(.searchWrapper) {
      @include transition;

      &.first {
        a {
          border-top: 2px solid $color5;
          margin-top: 0;
        }
      }

      a {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-top: 1em;
        border-bottom: 1px solid $color5;
        display: block;

        h2 {
          text-decoration: none;
          color: $fontColor;
          font-family: $font1;
          font-weight: 600;
          margin-bottom: 0.5em;
          padding: 0 1rem;
        }

        p {
          padding: 0 1rem;
          color: $fontColor;
          margin-bottom: 1rem;
        }

        .highlight {
          @include transition();
          color: $color5;
        }

        .url {
          @include transition();
          font-size: 0.75em;
          color: $color5;
        }

        &:hover, &:focus {
          background-color: $grey;
          border-color: $color1;
          .highlight, .url{
            color: $color1
          }
        }
      }
    }
  }
}