.mod_breadcrumb {
  display: none;
  @media all and (min-width: 769px){
    display: block;
    font-size: 0.875rem;
    margin: 1vw 0;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      justify-content: flex-start;

      > span {
        margin-right: 0.5rem;
      }

      li {
        color: $fontColor;
        &:last-of-type{
          &:after{
            display: none;
          }
        }
        &:after {
          content: '|';
          margin: 0 0.5rem;
        }
        &.active{
          font-weight: 600;
        }
      }
    }
  }
}