.mmenu {
  &-trigger {
    margin-bottom: 1rem;
    margin-right: 0;
    .name{
      display: none;
    }
    .hamburger {
      @include transition();
      height: 4px;
      width: 38px;
      margin: 7px 7px 7px 0;
      background-color: $fontColor;
      display: block;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      display: inline-block;
      &:focus, &:hover {
        .hamburger {
          background-color: $color2;
        }
      }
      >div {
        font-weight: 600;
        font-size: $teaserSize;
        color: $fontColor;
      }
    }
    @media all and (min-width: $break1){
      margin-right: 2rem;
      margin-top: 5px;
    }
    @media all and (min-width: $break2){
      margin-bottom: 0;
      margin-right: 3rem;
      margin-top: 0;
      .hamburger{
        width: 44px;
        margin: 10px 1rem 10px 0;
      }
    }
  }

}

.mod_mmenu{
  .mm-panels{
    .mm-panel{
      background-color: $grey;
      border: none;
      padding-left: 2rem;
      padding-top: 2rem;
      .mm-navbar{
        background-color: $grey;
        border: none;
        a{
          color: $fontColor;
          &:before{
            @include transition();
            border-color: $fontColor;
          }
          &:hover, &:focus{
            color: $color5;
            &:before{
              border-color: $color5;
            }
          }
        }
      }
      .mm-listview{
        .mm-listitem{
          background-color: $grey;
          &__text{
            color: $fontColor;
            padding-left: 0;
            &:hover, &:focus{
              color: $color5;
            }
          }
          &__btn{
            &:after{
              @include transition();
              border-color: $fontColor;
            }
            &:hover, &:focus{
              &:after{
                border-color: $color5;
              }
            }
          }
          &_selected{
            .mm-listitem__text{
              background: none;
              color: $color5;
              font-weight: 600;
            }
          }
          &.trail{
            .mm-listitem__text{
              color: $color5;
            }
            .mm-listitem__btn{
              &:after{
                border-color: $color4;
              }
            }
          }
          &:after{
            border-color: $white;
            border-width: 3px;
            left: 0;
          }
        }
      }
      &#mm-0{
        background-color: $white;
        @media all and (min-width: $break3){
          padding-left: 4rem;
        }
        .mm-navbar{
          display: none;
          background-color: $white;
        }
        .mm-listview{
          .mm-listitem{
            background-color: $white;
            a{
              font-weight: 600;
            }
            &_selected{
              .mm-listitem__text{
                background-color: $grey;
              }
            }
            &.trail{
              background-color: $grey;
            }
            &:after{
              border-color: $grey;
            }
          }
        }
      }
    }
  }
}
