.mod_newslist {
  grid-column: span 12;

  .datenblock {
    @include grid();
    padding: 1rem;
    background-color: $color1;
    color: $fontColor;

    p {
      margin-bottom: 0;
      font-size: 0.875em;
    }

  }

  .layout_latest {
    a {
      border-bottom: 1px solid $color1;
      display: block;
      padding: 1rem 1rem 0.5rem;

      .info{
        color: $black-50;
        font-size: 0.8rem;
      }

      > h3 {
        text-decoration: none;
        color: $fontColor;
        font-family: $font1;
        font-weight: 600;
        margin-bottom: 0.5em;
      }

      >div {
        margin-bottom: 1em;

        p {
          grid-column: span 12;
          color: $fontColor;
          margin-bottom: 0;
        }

        .weiterlesen {
          color: $color5;
          font-weight: 600;
          @include transition();
        }

        .image_container {
          grid-column: span 4;
          padding: 0 1rem;
          margin-bottom: 0;
        }
      }

      &:hover, &:focus {
        background-color: $grey;
        .weiterlesen{
          color: $color1;
        }

      }
    }

    @media all and (min-width: $break3) {
      a {
        .teaser-logo-container {
          grid-template-columns: repeat(8, 1fr);

          p {
            grid-column: span 6;
            padding-right: 0;
          }

          .image_container {
            grid-column: span 2;
            padding-left: 0;
          }
        }
      }
    }
  }
  &.news-start{
    border: 1px solid $border;
    padding: 1rem;
    background-color: $grey;
    strong{
      color: $fontColor;
      font-size: $h3Size;
    }
    .layout_simple{
      margin-bottom: 1em;
      font-size: $fontSize;
      time{
        color: $black-50;
        font-size: $linkSize;
      }
    }
  }
}

.mod_newsreader, .mod_newslist {
  .layout_full {
    margin-top: 1em;
    .head{
      > h1 {
        margin: 0;
        padding-bottom: 1em;
      }
      .info{

      }
      margin-bottom: 1rem;
    }
  }
    .back{
      margin-top: 1rem;
      a{
        display: inline;
        padding: 0.5em;
        background-color: $grey;
        color: $black;
        border: 1px solid $white;
        &:hover, &:focus{
          background-color: $white;
          color: $black-50;
          border-color: $black-50;
        }
      }
    }


}
