.mod_newslist {
  grid-column: span 12;

  .datenblock {
    @include grid();
    padding: 1rem;
    background-color: $color1;
    color: $fontColor;

    p {
      margin-bottom: 0;
      font-size: 0.875em;
    }

  }

  .layout_latest {
    a {
      padding-top: 1em;
      padding-bottom: 0.5em;
      border-bottom: 1px solid $color1;
      display: block;

      > h3 {
        text-decoration: none;
        color: $fontColor;
        font-family: $font1;
        font-weight: 600;
        margin-bottom: 0.5em;
        padding: 0 1rem;
      }

      >div {
        margin-bottom: 1em;
        @include grid();

        p {
          padding: 0 1rem;
          grid-column: span 12;
          color: $fontColor;
          margin-bottom: 0;
        }

        .weiterlesen {
          color: $color5;
          font-weight: 600;
          @include transition();
        }

        .image_container {
          grid-column: span 4;
          padding: 0 1rem;
          margin-bottom: 0;
        }
      }

      &:hover, &:focus {
        background-color: $grey;
        .weiterlesen{
          color: $color1;
        }

      }
    }

    @media all and (min-width: $break3) {
      a {
        .teaser-logo-container {
          grid-template-columns: repeat(8, 1fr);

          p {
            grid-column: span 6;
            padding-right: 0;
          }

          .image_container {
            grid-column: span 2;
            padding-left: 0;
          }
        }
      }
    }
  }
  &.news-start{
    border: 1px solid $border;
    padding: 1rem;
    background-color: $grey;
    .layout_simple{
      margin-bottom: 1em;
      font-size: $linkSize;
      time{
        color: $black-50;
        font-size: 0.8rem;
      }
    }
  }
}

.mod_newsreader {
  .layout_full {
    margin-top: 1em;
    .head{
      > h1 {
        margin: 0;
        padding-bottom: 1em;
      }
      .info{

      }
      border-bottom: 1px solid $black;
      margin-bottom: 1rem;
    }
  }
  .back {
    margin-top: 1rem;
    a {
      display: block;
      width: 100%;
      padding: 0.5em;
      background-color: $color1;
      color: white;
      font-weight: 600;
      border: 1px solid $white;

      &:hover, &:focus {
        background-color: $white;
        border-color: $color1;
        color: $color1;
      }

    }
  }


}
