//Vars
$navColor: black;

// Horizontale Navigation
.mod_navigation {
  font-family: $font2;


  &#metanav {
    .level_1 {
      display: flex;
      font-family: $font1;
      flex-wrap: wrap-reverse;
      flex-direction: row-reverse;

      > li {
        margin-left: 0.5rem;
        color: $color1;

        a {
          color: $color1;
          font-size: $linkSize;
          &:hover, &:focus{
            color: $color2
          }
        }
        strong{
          color: $color2;
        }

        &:first-of-type {
          order: 3;
        }

        &:before {
          content: "|";
          margin-right: 0.5rem;
          font-size: $linkSize;
        }

        &:first-of-type, &:last-of-type {
          &:before {
            display: none;
          }
        }
      }

      @media all and (min-width: $break2) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        > li {
          &:after {
            content: "|";
            margin-left: 0.5rem;
            font-size: $linkSize;
          }

          &:before {
            display: none;
          }

          &:first-of-type {
            order: 0;
          }

          &:last-of-type {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}