.mod_eventlist {
  .layout_teaser{
    margin-bottom: 1rem;
    a{
      border: 1px solid $border;
    display: flex;
    width: 100%;
    .datenblock{
      @include transition();
      min-width: 33%;
      min-height: 6rem;
      background-color: $color7;
      padding: 10px;
      text-align: center;
      @media all and (min-width: $break2){
        min-width: 8rem;
        max-width: 8rem;
      }
      .tag{
        color: $white;
        font-weight: 600;
        font-size: $teaserSize;
      }
      .jahr{
        color: $white;
        font-weight: 600;
        font-size: $fontSize;
      }
      .ort{
        font-weight: 600;
        font-size: $linkSize;
        color: $black-bg;
      }
    }
    .titel{
      @include transition();
      padding: 10px 1rem;
      font-weight: 600;
      color: $black;
      width: 100%;
    }
  }
    &:hover{
      .datenblock{
        background-color: $color2;
      }
      .titel{
        background-color: $grey;
      }
    }
  }
}

.mod_eventreader {
  @include grid(9);
  .layout_full{
    .head{
      @include grid(9);
      h1{
        font-weight: 400;
      }
    }
    .information-container{
      position: relative;
      .information{
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        padding: 1rem 0;
        .datum-zeit-container{
          display: flex;
          font-size: $linkSize;
          margin-bottom: 1rem;
          *{
            font-weight: 600;
          }
          .datum{
          }
        }
        .ort-container{
          p{
            margin-bottom: 0;
          }
          .ort{
            font-weight: 600;
            margin-bottom: 1rem;
          }
        }
      }
    }
    .details{
      margin-top: 1rem;
    }
  }
  #anmeldeformular{
    grid-column: span 9;
  }
  .back{
    margin-top: 1rem;
    a{
      display: inline;
      padding: 0.5em;
      background-color: $grey;
      color: $black;
      border: 1px solid $white;
      &:hover, &:focus{
        background-color: $white;
        color: $black-50;
        border-color: $black-50;
      }
    }
  }
}
#right{
  .head{
    a{
      background-color: $color7;
      color: $black-bg;
      grid-column: span 3;
      display: inline-block;
      margin-bottom: 1rem;
      border: 1px solid $white;
      padding: 1rem;
      align-self: flex-start;
      font-weight: 600;
      text-align: center;
      &:hover, &:focus{
        background-color: $white;
        color: $color7;
        border-color: $color7;
      }
    }
  }
  .ansprechpartner{
    margin-bottom: 3rem;
    p:first-of-type{
      font-size: $linkSize;
    }
  }
}

.veranstalter-filter{
  display: none;
  form{
    .formbody{
      .widget{
        &-select {
          select {
            @include transition();
            color: $black;
            max-width: 100%;
            outline: none;
            padding: 0.25em 0.5em;
            background-color: $white;
            grid-column: 1/3;
            border: 1px solid $color4;

            &:hover, &focus {
              border-color: $black-50;
            }

            &:focus {
              box-shadow: inset 0 0 1px 1px $black-50;
            }

          }
        }
        &-submit{
          display: none;
        }
      }
    }
  }
}