//Vars
$navColor: $black;

// Horizontale Navigation
.mod_navigation {
  font-family: $font2;


  &#metanav {
    .level_1 {
      display: flex;
      font-family: $font1;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0;

      > li {
        margin-left: 0.5rem;
        color: $color1;

        a {
          color: $color1;
          font-size: $linkSize;

          &:hover, &:focus {
            color: $color2
          }

          &:not(:hover) {
            color: $fontColor;
          }
        }

        strong {
          color: $color2;
        }

        &:first-of-type {
          margin-left: 0;
        }

        &:before {
          content: "|";
          margin-right: 0.5rem;
          font-size: $linkSize;
        }

        &:first-of-type{
          &:before {
            display: none;
          }
        }
      }

      @media all and (min-width: $break2) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        > li {
          &:after {
            content: "|";
            margin-left: 0.5rem;
            font-size: $linkSize;
          }

          &:before {
            display: none;
          }

          &:first-of-type {
            order: 0;
          }

          &:last-of-type {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}

.mod_customnav {
  &.lernfelder {
    .level_1 {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: $column-gap;
      align-items: stretch;
      justify-items: stretch;
    }

    li {
      grid-column: span 6;
      a, &.active {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        font-size: $h3Size;
        padding: 8% !important;
        text-shadow: 0 2px 3px $black-50;
        color: $white;
        border: 1px solid $border;
        font-weight: 600;
        span {
          width: 100%;
          text-align: center;
        }
      }
      a{
        &:hover, &:focus {
          text-shadow: 0 2px 3px $white-50;
        }
      }

      &:nth-of-type(3n+1){
        a{
          $background: $color7;
          $color: $white;
          background-color: $background;
          &:hover{
            color:$background;
            background-color: $color;
            border-color: $background;
          }
        }
      }
      &:nth-of-type(3n+2){
        a{
          $background: $color2;
          $color: $white;
          background-color: $background;
          &:hover{
            color:$background;
            background-color: $color;
            border-color: $background;
          }
        }
      }
      &:nth-of-type(3n){
        a{
          $background: $color3;
          $color: $white;
          background-color: $background;
          &:hover{
            color:$background;
            background-color: $color;
            border-color: $background;
          }
        }
      }
      &.last{
        a{
          $background: $color4;
          $color: $white;
          background-color: $background;
          &:hover{
            color:$background;
            background-color: $color;
            border-color: $background;
          }
        }
      }
      @media  all and (min-width: $break1){
        grid-column: span 3;
      }
      @media all and (min-width: $break3) {
        grid-column: span 2;
      }
    }
  }
}
.rechte-spalte{
  .lernfelder{
    .level_1{
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
      li{
        grid-column: span 1;
        a{
          font-size: $teaserSize;
          color: $black;
          background-color: $grey;
          text-shadow: none;
        }
        &:last-of-type{
          display: none;
        }
      }
      li.active{
        font-size: $teaserSize;
        background-color: $color1;
        text-align: center;
        text-shadow: 0 2px 3px $black-50;
        strong{
          width: 100%;
        }
      }
    }
  }
}