/**
    Author
    www.mees-zacke.de
    Florian Krohmer
**/
body {

  #wrapper {
    overflow: hidden;
    /////////////////////////////
    //////// HEADER ////////
    ////////////////////////////
    #header {
      background-color: $color6;

      .inside {
        @include pageWidth;
        display: flex;
        justify-content: space-between;
        position: relative;

        .linker-header {
          padding-top: 5vh;
          .navigation-suche-container {
            display: block;

            > p {
              font-weight: 600;
              font-size: $teaserSize;
              margin-right: 2rem;
              margin-bottom: 20px;
            }

            .mod_form {
              display: none;
              @media all and (min-width: $break2) {
                display: block;
                form {
                  .formbody {
                    display: flex;
                    margin-right: 1rem;

                    .widget {
                      &-submit {
                        height: 2em;
                        width: 1.5em;
                        padding-top: 5px;
                        background-image: $lupe;
                        background-repeat: no-repeat;
                        display: none;
                      }

                      &-text {
                        label{
                          display: none;
                        }
                        input {
                          height: 2em;
                          width: 200px;
                          border: none;
                          background: none;
                          padding-left: 1rem;
                        }
                      }
                    }
                  }
                }
              }
            }

            .switch {
              margin-right: 1rem;
              &:hover {
                cursor: pointer;
              }
              .colorSwitch {
                border: 1px solid;
                padding: 0 5px;
                display: block;
                border-radius: 0.25rem;
                border-color: $black;
                color: $black;
              }
              @media all and (max-width: $break2){
                position: absolute;
                left: 0;
                top: 100%;
                padding: 10px;
                z-index: 4;
                background-color: $color6;
                border: 1px solid $border;
                border-left: none;
              }
            }

            @media all and (min-width: $break2) {
              display: flex;
              align-items: baseline;
            }
          }
        }

        .logo-container {
          position: relative;
          width: 100%;
          .ce_image {
            figure {
              position: absolute;
              z-index: 5;
              width: 100%;
              height: 100%;
              top: 5px;
              text-align: right;
              img{
                height: 111%;
                max-width: auto;
              }
            }
          }
        }
      }
    }

    // Ende #Header

    /////////////////////////////
    ////////// CUSTOM //////////
    ////////////////////////////

    .custom {
      #meta{
        @include pageWidth;
        margin-top: 4rem;
        margin-bottom: 10px;
      }
    }

    /////////////////////////////
    //////// CONTAINER ////////
    ////////////////////////////
    #container {
      @include pageWidth;
      padding-top: 2rem;
      // Anfang #main

      #main {
        grid-column: span 12 ;
        .inside {
          .mod_article {
            @include grid;

          }
        }
      }

      // Ende #main

    }

    // Ende #Container


    /////////////////////////////
    //////// FOOTER ////////
    ////////////////////////////

    #footer {
      border-top: 1px solid $border;
      background-color: $color6;
      .inside{
        @include pageWidth;
        .quicklinks{
          grid-column: span 4;
          display: none;
          a:not(:hover){
            color: $fontColor;
          }
        }
        .info-kvjs{
          grid-column: span 12;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 4vw;
          .ce_text{
            grid-column: span 1;
            &.ansprechpartner{
            }
          }
        }
        .beschreibung-container{
          grid-column: span 12;
          .ce_image{
            text-align: center;
          }
        }
        @media all and (min-width: $break2){
          @include grid();
          .info-kvjs{
            display: block;
            grid-column: 9/13;
            .ce_text:not(.ansprechpartner){
              figure{
                width: 50%;
              }
              p{
                padding-left: 11%;
              }
            }
            .ce_text.ansprechpartner{
              padding-top: 1em;
              padding-left: 11%;
            }
          }
          .beschreibung-container{
            padding-top: 1rem;
            grid-column: 5/9;
            grid-row: 1;
            .ce_image{
              text-align: left;
              width: 50%;
            }
          }
        }
      }
    }

    // Ende #Footer

  }

  // Ende #wrapper
  &.rechte-spalte{
    #wrapper{
      #container{
        position: relative;
        #main{
          .inside{
            .mod_article{
              @include grid(9);
            }
          }

        }
        #right{
          position: absolute;
          top: 0;
          right: 0;
          .sidebar-opener{
            @include transition();
            z-index: 3;
            width: 50px;
            height: 50px;
            position: absolute;
            right: 0;
            background-color: $color1;
            box-shadow: 0 0 5px $black-50;
            border: 1px solid $border;
          }
          .inside, >a{
            @include transition();
            z-index: 4;
            background-color: $white;
            width: 80vw;
            position: absolute;
            top: 0;
            left: 100%;
            padding: 20px;
            border-bottom: 1px solid $color1;
            border-left: 1px solid $color1;
            box-shadow: 0 0 5px $black-50;
          }
          &.open{
            .sidebar-opener{
              right: 80vw;
            }
            .inside, >a{
              left: -80vw;
            }
          }
        }
        @media all and (min-width: $break1){
          #right{
            .inside{
              width: 50vw;
            }
            &.open{
              .sidebar-opener{
                right: 50vw;
              }
              .inside{
                left: -50vw;
              }
            }
          }
        }
        @media all and (min-width: $break2){
          @include grid();
          #main{
            grid-column: span 9;
          }
          #right{
            position: static;
            .sidebar-opener{
              display: none;
            }
            .inside{
              width: 100%;
              position: static;
              border: none;
              padding: 0;
              box-shadow: none;
            }
            .inside, >a{
              background: none;
            }
            margin-right: 0;
            grid-column: span 3;
          }
        }
      }
    }
  }
}