/**
    Author
    www.mees-zacke.de
    Florian Krohmer
**/
body {

  #wrapper {
    overflow: hidden;
    /////////////////////////////
    //////// HEADER ////////
    ////////////////////////////
    #header {
      background-color: $color6;

      .inside {
        @include pageWidth;
        display: flex;
        justify-content: space-between;
        position: relative;

        .linker-header {
          padding-top: 1vh;
          margin-right: 3rem;
          @media all and (min-width: $break2){
            padding-top: 5vh;
          }

          .navigation-suche-container {
            display: block;

            > p {
              font-weight: 600;
              font-size: $teaserSize;
              margin-right: 2rem;
              margin-bottom: 20px;
            }

            .mod_form {
              display: none;
              @media all and (min-width: $break2) {
                display: block;
                align-self: flex-end;
              }
            }

            .switch {
              margin-right: 1rem;

              &:hover {
                cursor: pointer;
              }

              .colorSwitch {
                border: 1px solid;
                width: 1.75rem;
                padding: 5px;
                display: block;
                border-radius: 0.25rem;
                border-color: $black;
                path{
                  fill: $black;
                }
              }

              @media all and (max-width: $break2) {
                position: absolute;
                left: 0;
                top: 100%;
                padding: 10px;
                z-index: 4;
                background-color: $color6;
                border: 1px solid $border;
                border-left: none;
              }
            }

            @media all and (min-width: $break2) {
              display: flex;
              align-items: flex-end;
            }
          }
        }

        .logo-container {
          position: relative;
          width: 100%;

          .ce_image {
            figure {
              position: absolute;
              z-index: 5;
              width: 100%;
              height: 100%;
              top: 5px;
              text-align: right;

              a {
                display: block;
                margin-left: auto;
                height: 105%;
                background-repeat: no-repeat;
                background-position: right;
                background-size: contain;
                margin-top: 15px;
                width: 100%;
                @media all and (min-width: 527px){
                  width: 325px;
                }
                @media all and (min-width: $break2){
                  width: 100%;
                }
                @media all and (min-width: 1068px){
                  width: 540px;
                }
              }
            }
          }
        }
      }
    }

    // Ende #Header

    /////////////////////////////
    ////////// CUSTOM //////////
    ////////////////////////////

    .custom {
      #kopfbild {
        position: relative;
        overflow: hidden;

        figure {
          margin-bottom: 0;
        }

        .figuren-kopf {
          .layer{
            position: absolute;
            &-1{
              bottom: -22%;
              height: 65%;
              right: 10%;
              z-index: 4;
            }
            &-2{
              bottom: 5%;
              height: 40%;
              left: 20%;
              transform: scaleX(-1);
              z-index: 3;
            }
            &-3{
              bottom: 18%;
              height: 18%;
              right: 22%;
              transform: scaleX(-1);
              z-index: 2;
            }
            &-4{
              bottom: 20%;
              height: 17%;
              left: 10%;
              z-index: 1;
            }
            @media all and (min-width: 1921px){
              &-1{
                bottom: -52%;
                height: 88%;
              }
              &-2{
                bottom: -24%;
                height: 50%;
              }
              &-3{
                bottom: -2%;
                height: 30%;
              }
              &-4{
                bottom: 3%;
                height: 26%;
              }
            }
          }
        }
      }

      #meta {
        @include pageWidth;
        margin-top: 4rem;
        margin-bottom: 10px;
      }
    }

    /////////////////////////////
    //////// CONTAINER ////////
    ////////////////////////////
    #container {
      @include pageWidth;
      padding-top: 4rem;
      // Anfang #main

      #main {
        grid-column: span 12;

        .inside {
          .mod_article {
            @include grid;

          }
        }
      }

      // Ende #main

    }

    // Ende #Container


    /////////////////////////////
    //////// FOOTER ////////
    ////////////////////////////

    #footer {
      border-top: 1px solid $black-50;
      background-color: $color6;
      padding-bottom: 100px;
      background-image: url("/files/layout/images/footer-figuren.svg");
      background-position: 70% 80%;
      background-size: 250%;
      background-repeat: no-repeat;
      font-size: $linkSize;

      .inside {
        @include pageWidth;

        .quicklinks {
          grid-column: span 4;
          display: none;

          a:not(:hover) {
            color: $fontColor;
          }
        }

        .info-kvjs {
          grid-column: span 12;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 4vw;

          .ce_text, .ce_image {
            grid-column: span 1;

            &.ansprechpartner {
              padding-top: 1rem;

              strong {
                font-size: $fontSize;
              }
            }
          }
          .ce_image{
            @media all and (min-width: $break2){
              width: 48%;
            }
          }
        }

        .beschreibung-container {
          grid-column: span 12;

          .ce_image {
            text-align: center;

            img {
              max-width: 60%;
            }
          }
        }
      }

      @media all and (min-width: $break1) {
        .inside {
          @include grid();

          .info-kvjs {
            display: block;
            grid-column: span 6;
          }

          .beschreibung-container {
            grid-column: span 6;
            padding-top: 1rem;

            .ce_image {
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
      @media all and (min-width: $break2) {
        background-size: 80%;
        background-position: left 80%;
        .inside {
          .info-kvjs {
            grid-column: 9/13;

            .ce_text:not(.ansprechpartner) {
              figure {
                width: 50%;
              }

              p {
                padding-left: 11%;
              }
            }

            .ce_text.ansprechpartner {
              padding-top: 1em;
              padding-left: 11%;
            }
          }

          .beschreibung-container {
            grid-column: 5/9;
            grid-row: 1;

            .ce_image {
              text-align: left;
              width: 50%;
            }
          }
        }
      }

    }

    // Ende #Footer

  }

  // Ende #wrapper
  &.rechte-spalte {
    #wrapper {
      #container {
        position: relative;

        #main {
          .inside {
            .mod_article {
              @include grid(8);
            }
          }

        }

        #right {
          position: absolute;
          top: 0;
          right: 0;

          .sidebar-opener {
            @include transition();
            z-index: 3;
            width: 50px;
            height: 50px;
            position: absolute;
            padding: 6px 4px 4px;
            top:0;
            right: 0;
            background-color: $color1;
            box-shadow: 0 0 5px $black-50;
            border: 1px solid $border;
            svg{
              fill: $black-bg;
            }
          }

          .inside, > a {
            @include transition();
            max-height: 100vh;
            overflow-y: scroll;
            z-index: 4;
            background-color: $white;
            width: 80vw;
            position: absolute;
            top: 0;
            left: 100%;
            padding: 20px;
            border-bottom: 1px solid $color1;
            border-left: 1px solid $color1;
            box-shadow: 0 0 5px $black-50;
          }

          &.open {
            .sidebar-opener {
              right: 80vw;
            }

            .inside, > a {
              left: -80vw;
            }
          }
        }

        @media all and (min-width: $break1) {
          #right {
            margin-right: 0;
            .inside {
              width: 50vw;
            }

            &.open {
              .sidebar-opener {
                right: 50vw;
              }

              .inside {
                left: -50vw;
              }
            }
          }
        }
        @media all and (min-width: $break3) {
          @include grid();
          #main {
            grid-column: span 8;
          }
          #right {
            position: static;
            margin-right: 0;
            grid-column: 10 / span 3;

            .sidebar-opener {
              display: none;
            }

            .inside {
              width: 100%;
              position: static;
              border: none;
              padding: 0;
              box-shadow: none;
            }

            .inside, > a {
              overflow-y: visible;
              max-height: none;
              background: none;
            }
          }
        }
      }
    }
  }
}