.readspeaker-container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  justify-content: center;
  #readspeaker_button1{
    display: flex;
    .rs-player-loadindicator{
      bottom: -3px;
      top: unset;
      left: -114px !important;
    }
  }
}